:root {
  --bg: #282a36;
  --border: #44475a;
  --text: #f8f8f2;
  --text-dk: #d4d4ce;
  --accent: #50fa7b;
}

body {
  background-color: var(--bg);
  color: var(--text);
  display: flex;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Nunito", sans-serif;
  flex-direction: column;
  overflow-x: hidden;
}

* {
  transition: all 0.3s;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-bottom: 1px solid var(--border);
  align-items: start;
}

header button {
  background: none;
  border: none;
  color: var(--accent);
  cursor: pointer;
  font-size: 1rem;
  padding: 5px;
}

header button:hover {
  background-color: var(--bg);
}

footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
  border-top: 1px solid var(--border);
  align-items: end;
}

main {
  height: 100%;
}

button {
  background-color: var(--text);
  color: var(--bg);
  border: none;
  padding: 0.5rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 8px;
  font-weight: bold;
}

button:hover {
  background-color: var(--text-dk);
}
